body {
    box-sizing: border-box;
}

.header-container { 
    background: url(https://html.design/demo/eforlad/images/banner.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
} 

.navbar.navbar-expand-lg.bg-light{
    padding:0px;
}

.navigation_menu {
    background: url(https://html.design/demo/eforlad/images/header-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    transition: all 0.35s cubic-bezier(0.71, 0.03, 0.56, 0.85);
}

#navbarSupportedContent>ul>li>a {
    color: white;
    font-size: 18px;
    font-weight: 700;
}

#navbarSupportedContent>ul>li {
    text-align: center;
}

.burger_toggler {
    position: absolute;
    right: 0;
    top: 25px;
}

.navbar-toggler:focus {
    box-shadow: unset;
}

.animated-icon3 {
  width: 30px;
  height: 20px;
  position: relative;
  margin: 0px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .5s ease-in-out;
  -moz-transition: .5s ease-in-out;
  -o-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  cursor: pointer;
}
.animated-icon3 span {
  display: block;
  position: absolute;
  height: 3px;
  width: 100%;
  border-radius: 9px;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .25s ease-in-out;
  -moz-transition: .25s ease-in-out;
  -o-transition: .25s ease-in-out;
  transition: .25s ease-in-out;
}
.animated-icon3 span {
  background: #f3e5f5;
}
/* Icon 4 */

.animated-icon3 span:nth-child(1) {
  top: 0px;
  -webkit-transform-origin: left center;
  -moz-transform-origin: left center;
  -o-transform-origin: left center;
  transform-origin: left center;
}

.animated-icon3 span:nth-child(2) {
  top: 10px;
  -webkit-transform-origin: left center;
  -moz-transform-origin: left center;
  -o-transform-origin: left center;
  transform-origin: left center;
}

.animated-icon3 span:nth-child(3) {
  top: 20px;
  -webkit-transform-origin: left center;
  -moz-transform-origin: left center;
  -o-transform-origin: left center;
  transform-origin: left center;
}

.animated-icon3.open span:nth-child(1) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
  top: 0px;
  left: 8px;
}

.animated-icon3.open span:nth-child(2) {
  width: 0%;
  opacity: 0;
}

.animated-icon3.open span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
  top: 21px;
  left: 8px;
}

@media only screen and (max-width:991px){
    .navbar-brand {
        display: block;
        width: 100%;
        text-align: center;
    }
}

.info_block{
    text-align: center;
}
    
.info_block>h1,strong{
    font-size: 90px;
    color:aqua;
}

.btn-light{
    background-color: #ee580f;;
    color: white;
    border: none;
    padding:15px 40px;
    font-size:20px;
    border-radius: 50px;
}

.btn-light:hover{
    background: black;
    color:white;
}

.read_more_btn{
    display:block;
    text-align: center;
}

.form_title{
    float: left;
    margin-top: -65px;
    background: white;
    padding: 10px 30px;
    /* margin-left: -20px; */
    color: #0a4668;
    font-size: 18px;
    font-weight: 600;
    position: absolute;
    top: 20px;
    left: 0;
}

.main_form{
    margin:20px;
    padding:20px;
    display: flex;
}

.form_container{
    background:#ffffffe8;
    position: relative;
}

.form-control{
    margin-bottom:10px;
}

.search_col>a{
    background: #ee580f;
    color: #fff;
    float: left;
    font-size: 18px;
    font-weight: 400;
    border: solid #ee580f 1px;
    padding: 10px 77px;
    text-decoration: none;
}

.search_col{
    display: flex;
    align-items: center;
    justify-content: center;
}



.info_block h1:nth-child(2)
{
    color: white;
    font-weight: bold;
}


.mb-10{
    margin-bottom: 10px;
}

.mb-20{
    margin-bottom: 20px;
}

.mb-30{
    margin-bottom: 30px;
}

.mb-40{
    margin-bottom: 40px;
}

.mb-50{
    margin-bottom: 50px;
}

.tour_text{
    transition: background 2s,-webkit-text-fill-color 1s;
    -webkit-transition: background 2s,-webkit-text-fill-color 1s;
}

@media only screen and (max-width: 640px){
    .tour_text{
        background: -webkit-linear-gradient( rgb(219, 219, 219),rgb(0, 0, 0));
        background-clip: border-box;
        -webkit-background-clip: text;
        -webkit-text-fill-color: #848484b0;
    }
}

@media only screen and (max-width: 767px){
    .main_form{
        flex-direction: column;
    }
}