body {
    box-sizing: border-box;
}

.header-container {
    background: url(https://html.design/demo/eforlad/images/banner.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
}

.navbar.navbar-expand-lg.bg-light {
    padding: 0px;
}

.navigation_menu {
    background: url(https://html.design/demo/eforlad/images/header-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    transition: all 0.35s cubic-bezier(0.71, 0.03, 0.56, 0.85);
}

#navbarSupportedContent>ul>li>a {
    color: white;
    font-size: 18px;
    font-weight: 700;
}

#navbarSupportedContent>ul>li {
    text-align: center;
}

.burger_toggler {
    position: absolute;
    right: 0;
    top: 25px;
}

.navbar-toggler:focus {
    box-shadow: unset;
}

.animated-icon3 {
    width: 30px;
    height: 20px;
    position: relative;
    margin: 0px;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
    cursor: pointer;
}

.animated-icon3 span {
    display: block;
    position: absolute;
    height: 3px;
    width: 100%;
    border-radius: 9px;
    opacity: 1;
    left: 0;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .25s ease-in-out;
    -moz-transition: .25s ease-in-out;
    -o-transition: .25s ease-in-out;
    transition: .25s ease-in-out;
}

.animated-icon3 span {
    background: #f3e5f5;
}

/* Icon 4 */

.animated-icon3 span:nth-child(1) {
    top: 0px;
    -webkit-transform-origin: left center;
    -moz-transform-origin: left center;
    -o-transform-origin: left center;
    transform-origin: left center;
}

.animated-icon3 span:nth-child(2) {
    top: 10px;
    -webkit-transform-origin: left center;
    -moz-transform-origin: left center;
    -o-transform-origin: left center;
    transform-origin: left center;
}

.animated-icon3 span:nth-child(3) {
    top: 20px;
    -webkit-transform-origin: left center;
    -moz-transform-origin: left center;
    -o-transform-origin: left center;
    transform-origin: left center;
}

.animated-icon3.open span:nth-child(1) {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
    top: 0px;
    left: 8px;
}

.animated-icon3.open span:nth-child(2) {
    width: 0%;
    opacity: 0;
}

.animated-icon3.open span:nth-child(3) {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
    top: 21px;
    left: 8px;
}

@media only screen and (max-width:991px) {
    .navbar-brand {
        display: block;
        width: 100%;
        text-align: center;
    }
}

.info_block {
    text-align: center;
}

.info_block>h1,
strong {
    font-size: 90px;
    color: aqua;
}

.btn-light {
    background-color: #ee580f;
    ;
    color: white;
    border: none;
    padding: 15px 40px;
    font-size: 20px;
    border-radius: 50px;
}

.btn-light:hover {
    background: black;
    color: white;
}

.read_more_btn {
    display: block;
    text-align: center;
}

.form_title {
    float: left;
    margin-top: -65px;
    background: white;
    padding: 10px 30px;
    /* margin-left: -20px; */
    color: #0a4668;
    font-size: 18px;
    font-weight: 600;
    position: absolute;
    top: 20px;
    left: 0;
}

.main_form {
    margin: 20px;
    padding: 20px;
    display: flex;
}

.form_container {
    background: #ffffffe8;
    position: relative;
}

.form-control {
    margin-bottom: 10px;
}

.search_col>a {
    background: #ee580f;
    color: #fff;
    float: left;
    font-size: 18px;
    font-weight: 400;
    border: solid #ee580f 1px;
    padding: 10px 77px;
    text-decoration: none;
}

.search_col {
    display: flex;
    align-items: center;
    justify-content: center;
}



.info_block h1:nth-child(2) {
    color: white;
    font-weight: bold;
}


.mb-10 {
    margin-bottom: 10px;
}

.mb-20 {
    margin-bottom: 20px;
}

.mb-30 {
    margin-bottom: 30px;
}

.mb-40 {
    margin-bottom: 40px;
}

.mb-50 {
    margin-bottom: 50px;
}

.mt-50 {
    margin-top: 50px;
}

.tour_text {
    transition: background 2s, -webkit-text-fill-color 1s;
    -webkit-transition: background 2s, -webkit-text-fill-color 1s;
}

.m-0-50 {
    margin: 0 50px;
}

.header_title {
    text-align: center;
}

.text_with_lines {
    position: relative;
    display: inline-block;
    font-weight: 700;
    font-size: 45px;
}

.text_with_lines::before,
.text_with_lines::after {
    content: "";
    position: absolute;
    border-top: solid 1px #00fffb;
    top: 27px;
    width: 149px;
    /* left: 172px; */
    height: 5px;
}

.text_with_lines::before {
    right: 100%;
    margin-right: 15px;
}

.text_with_lines::after {
    left: 100%;
    margin-left: 15px;
}

.paragraph {
    font-size: 19px;
}

.plane_box {
    position: relative;
    display: flex;
    /* border: 15px solid #077f9b; */
    padding: 30px 20px;
    margin-right: 170px;
    border-radius: 5px;

    margin: 50px auto;
    padding: 60px 25px;

    border-left: 15px solid #077f9b;
    border-right: 15px solid #0c1e43;

    border-radius: 5px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;

    background-position: 0 0, 0 100%;
    background-repeat: no-repeat;
    -webkit-background-size: 100% 20px;
    -moz-background-size: 100% 20px;
    background-size: 100% 20px;
    background-image: -webkit-linear-gradient(left, #077f9b 0%, #0c1e43 100%), -webkit-linear-gradient(left, #077f9b 0%, #0c1e43 100%);
    /* background-image: -moz-linear-gradient(left, #077f9b 0%, #0c1e43 100%), -moz-linear-gradient(left, #077f9b 0%, #0c1e434 100%); */
    background-image: -o-linear-gradient(left, #077f9b 0%, #0c1e43 100%), -o-linear-gradient(left, #077f9b 0%, #0c1e43 100%);
    background-image: linear-gradient(to right, #077f9b 0%, #0c1e43 100%), linear-gradient(to right, #077f9b 0%, #0c1e43 100%);
    max-width: 1004px;
}

.plane_box_text>p {
    display: inline-block;
    padding-right: 490px;
    font-size: 22px;
    line-height: 32px;
    /* max-width: 1004px; */
}

.plane_box_img {
    position: absolute;
    top: -45px;
    right: -130px;
}

.plane_box_img>img {
    width: 650px;
}

.parallax {
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
}

.about_us_section {
    background-image: url(https://html.design/demo/eforlad/images/banner.jpg);

}

.icon_row {
    text-align: center;
}

.circle_icon {
    display: flex;
    flex-direction: column;
    flex-basis: calc(50% - 20px);
    margin: 10px;
    border-radius: 8px;
}

.icon_header_img {
    border-radius: 50%;
    position: relative;
    display: inline-block;
}

.circle_icon>h1 {
    font-size: 25px;
}

.circle_icon .btn {
    margin: 0 auto;
    margin-block-start: auto;
}

.london_pic>img {
    width: 100%;
}

@media screen and (max-width: 1210px) {
    .plane_box_img {
        display: none;
    }
}

@media screen and (max-width: 1210px) {
    .plane_box_text>p {
        padding-right: 0px;
    }
}

@media (min-width: 992px) and (max-width: 1199px) {

    .text_with_lines::before,
    .text_with_lines::after {
        width: 129px;
    }
}

@media (min-width: 768px) and (max-width: 991px) {

    .text_with_lines::before,
    .text_with_lines::after {
        width: 84px;
    }
}


@media only screen and (max-width: 767px) {
    .main_form {
        flex-direction: column;
    }
}

@media (min-width: 576px) and (max-width: 767px) {

    .text_with_lines::before,
    .text_with_lines::after {
        width: 57px;
    }
}

@media only screen and (max-width: 640px) {
    .tour_text {
        background: -webkit-linear-gradient(rgb(219, 219, 219), rgb(0, 0, 0));
        background-clip: border-box;
        -webkit-background-clip: text;
        -webkit-text-fill-color: #848484b0;
    }
}

@media (max-width: 575px) {

    .text_with_lines::before,
    .text_with_lines::after {
        width: 0px;
    }
}




@property --rotate {
    syntax: "<angle>";
    initial-value: 132deg;
    inherits: false;
}

:root {
    --card-height: 65vh;
    --card-width: calc(var(--card-height) / 1.5);
}

.icon_header_img:hover {
    color: rgb(88 199 250 / 100%);
    transition: color 1s;
}

.icon_header_img:hover:before,
.icon_header_img:hover:after {
    animation: none;
    opacity: 0;
}

.icon_header_img::before {
    content: "";
    width: 104%;
    height: 102%;
    border-radius: 50%;
    background-image: linear-gradient(var(--rotate), #5ddcff, #3c67e3 43%, #4e00c2);
    position: absolute;
    z-index: -1;
    top: -1%;
    left: -2%;
    animation: spin 2.5s linear infinite;
}

.icon_header_img::after {
    position: absolute;
    content: "";
    top: calc(var(--card-height) / 6);
    left: 0;
    right: 0;
    z-index: -1;
    height: 100%;
    width: 100%;
    margin: 0 auto;
    transform: scale(0.8);
    filter: blur(calc(var(--card-height) / 6));
    background-image: linear-gradient(var(--rotate), #5ddcff, #3c67e3 43%, #4e00c2);
    opacity: 1;
    transition: opacity .5s;
    animation: spin 2.5s linear infinite;
}

@keyframes spin {
    0% {
        --rotate: 0deg;
    }

    100% {
        --rotate: 360deg;
    }
}

.owl-carousel {
    display: inline-flex;
}

.owl_item {
    width: 363.333px;
    margin-right: 10px;
}

.london_tour {
    background-image: url(https://html.design/demo/eforlad/images/Amazing.jpg);
    text-align: center;
    padding: 90px 0px;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center center;
}

.white {
    color: white;
}

.london_tour_box>a {
    font-size: 17px;
    padding: 15px 50px;
    background-color: #ee580f;
    color: #fff;
    display: inline-block;
    line-height: 20px;
    border-radius: 30px;
    text-align: center;
    margin: 0 10px;
    text-decoration: none;
}

figure>span {
    top: 0;
    left: 0px;
    position: absolute;
    margin-left: 15px;
    background: #022739;
    padding: 10px 30px;
    color: #fff;
}

.blog {
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}

figure>img {
    max-width: 100%;
}

.travel {
    padding: 15px 0px;
}

.travel>span {
    display: inline-block;
}

.blog_box>h3 {
    font-size: 20px;
    line-height: 30px;
}

.blog_box>p {
    font-size: 16px;
    line-height: 30px;
}

.social_links {
    display: flex;
}

.social_links>li {
    padding-right: 10px;
    list-style: none;
    font-size: 30px;
}

footer {
    background-color: #022739;
    margin-top: 90px;
}

.submit_btn {
    padding: 10px 30px;
    border: #0e0c0c solid 1px;
    background: #0e0c0c;
    color: #fff;
    right: 0;
    width: 120px;
}

.name,
.email {
    padding: 13px 26px;
    padding-top: 10px;
    padding-right: 26px;
    padding-bottom: 10px;
    padding-left: 15px;
    border: #fff solid 1px;
    width: 100%;
    margin-bottom: 15px;
}

.textarea {
    padding: 6px 0px 0px 19px;
    color: #655f5f !important;
    width: 100%;
    border: #b1b0b0 solid 1px;
    margin-bottom: 20px;
}

.copyright {
    text-align: center;
}

.copyrigth_paragraph {
    text-decoration: overline;
    text-decoration-color: white;
}

.copyright_paragraph>a {
    text-decoration: none;
    color: white;
}